absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
Cython
docopt
elastic-transport
elasticsearch
et_xmlfile
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
happybase
hdfs
idna
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
narwhals
numpy
openpyxl
opt_einsum
optree
packaging
pandas
pillow
ply
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
thriftpy
thriftpy2
toml
tornado
typing_extensions
tzdata
Unidecode
urllib3
watchdog
Werkzeug
wrapt
zipp


pip
scipy
scikit-learn