altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
Cython
docopt
elastic-transport
elasticsearch
et-xmlfile
fonttools
gitdb
GitPython
happybase
hdfs
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
openpyxl
packaging
pandas
pillow
ply
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
setuptools
six
smmap
streamlit
tenacity
thriftpy
thriftpy2
toml
tornado
typing_extensions
tzdata
Unidecode
urllib3
watchdog
zipp
scikit-learn
imbalanced-learn
seaborn
joblib
